---
layout: default
title: Search
select: search
permalink: /search/
---

<h2>
	Search
	<select name="time" onchange="document.getElementById('results').classList.remove('time-15', 'time-60', 'time-60-plus', 'time-1-day'); document.getElementById('results').classList.add(this.value);">
		<option selected value="time-any">Any</option>
		<option value="time-15">&lt; 15 min</option>
		<option value="time-60">&lt; 1 hour</option>
		<option value="time-60-plus">1+ hour</option>
		<option value="time-1-day">1+ day</option>
	</select>
</h2>
<div id="results" class="search">
	{% for post in site.posts %}
		<a class="recipe {{ post.author | downcase }}  {% if post.time <= 15 %}time-15{% elsif post.time <= 60 %}time-60{% elsif post.time < 1000 %}time-60-plus{% else %}time-1-day{% endif %}" href="{{ post.url }}" data-content="{{ post.title | slugify: 'ascii' | replace: '-',' ' | downcase }} {{ post.content | strip_html | strip_newlines | slugify: 'ascii' | replace: '-',' ' | downcase }}">
			<h4>{{ post.title }}</h4>
			<p>{{ post.author }} &nbsp;&nbsp; — &nbsp;&nbsp; {% if post.time <= 15 %}&lt; 15 min{% elsif post.time <= 60 %}&lt; 1 hour{% elsif post.time < 1000 %}1+ hour{% else %}1+ day{% endif %}</p>
		</a>
	{% endfor %}
</div>

<script>
	const params = new URLSearchParams(window.location.search);
	var keywords = params.getAll('query');

	var resultsElement = document.getElementById("results");
	var results = resultsElement.children;
	var nonMatches = [];

	for(var i = 0; i < results.length; i++)
	{
		nonMatches.push(results[i]);

		for(var j = 0; j < keywords.length; j++)
		{
			if(results[i].dataset.content.includes(keywords[j].toLowerCase()))
			{
				nonMatches.pop();
				break;
			}
		}
	}

	for(var i = 0; i < nonMatches.length; i++)
	{
		resultsElement.removeChild(nonMatches[i]);
	}

	resultsElement.className = "search-loaded";
</script>