<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<style>
	body
	{
		margin: 0;
		font-family: -apple-system, system-ui, Verdana, sans-serif;
		text-rendering: optimizeSpeed; 
		-webkit-font-smoothing: antialiased;    
		-moz-osx-font-smoothing: grayscale;
		-moz-font-feature-settings:"kern" 1;
		-ms-font-feature-settings:"kern" 1;
		-o-font-feature-settings:"kern" 1;
		-webkit-font-feature-settings:"kern" 1;
		font-feature-settings:"kern" 1;
		font-kerning: normal;
		background: #eee;
		color: #222;
	}
	
	::selection
	{
		background: #f1cc58;
	}
	
	.icon
	{
		display: inline-block;
		height: 18px;
		width: 18px;
		line-height: 18px;
		text-align: center;
		font-size: 18px;
		border-radius: 100%;
		position: absolute;
		margin: 3px 3px 3px -32px;
	}
	
	nav
	{
		border-right: 1px solid;
		padding: 10px;
		user-select: none;
		position: fixed;
		width: 250px;
		height: 100vh;
		top: 0;
		left: 0;
	}
	
	nav a
	{
		text-decoration: none;
		color: inherit;
		font-size: 14px;
		line-height: 24px;
		padding: 8px 40px;
		border-radius: 4px;
		display: block;
	}
	
	nav a:hover, .selected
	{
		background: #ddd;
	}
	
	.selected:hover
	{
		background: #d4d4d4;
	}
	
	article
	{
		padding: 50px;
		margin-left: 271px;
	}
	
	h1
	{
		font-size: 3rem;
		line-height: 1.1;
		margin: 0 0 50px;
		text-transform: capitalize;
	}

	a#edit-button
	{
		font-size: 0.35em;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		text-decoration: none;
		transform: translateY(-8px);
		margin-left: 2ch;
		display: inline-block;
		opacity: 0;
	}

	h1:hover a#edit-button
	{
		opacity: 1;
	}
	
	h2
	{
		margin: 0 0 20px;
	}
	
	h3
	{
		margin-top: 50px;
	}
	
	h6
	{
		margin: 50px 5px 20px;
		font-size: 0.9rem;
	}
	
	p
	{
		line-height: 1.6
	}
	
	section
	{
		background: #ddd;
		margin: 30px -25px;
		padding: 20px 25px 10px;
		border-radius: 8px
	}
	
	ul, ol
	{
		padding-left: 20px;
	}
	
	li
	{
		margin: 5px 0;
	}
	
	code
	{
		display: inline-block;
		margin: -4px 0;
		padding: 4px 1ch;
		background: #ddd;
		line-height: 20px;
		font-family: inherit;
		border-radius: 4px;
		
	}
	
	header
	{
		display: none;
	}

	#results
	{
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 10px;
		margin-top: 30px;
	}

	#results.search > a.recipe 
	{
		display: none !important;
	}
	
	#results.search::after
	{
		content: "";
		display: block;
		margin: 20px 80px;
		height: 30px;
		width: 30px;
		border: 15px solid #ddd;
		border-left-color: transparent;
		border-radius: 100%;
		animation: rotate 1s linear 0s infinite;
	}

	#results.search-loaded
	{
		display: grid;
	}
	
	.recipe
	{
		display: block;
		border: 1px solid;
		width: 100%;
		box-sizing: border-box;
		padding: 15px 20px;
		border-radius: 8px;
		text-decoration: none;
		color: inherit;
		text-transform: capitalize;
		background-position: right bottom;
		background-size: 250px;
		background-repeat: no-repeat;
	}

	.recipe:hover
	{
		background-color: #ddd;
	}
	
	.recipe h4, .recipe p
	{
		margin: 0;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	
	.recipe p
	{
		margin-top: 20px;
		font-size: 14px;
	}

	.ella .recipe, .quinn .recipe, .jack .recipe, .max .recipe, .arielle .recipe, .bryan .recipe, .time-15 .recipe, .time-60 .recipe, .time-60-plus .recipe, .time-1-day .recipe 
	{
		display: none;
	}

	.ella .recipe.ella, .jack .recipe.jack, .quinn .recipe.quinn, .arielle .recipe.arielle, .max .recipe.max, .time-15 .recipe.time-15, .time-60 .recipe.time-60, .time-60-plus .recipe.time-60-plus, .time-1-day .recipe.time-1-day
	{
		display: block;
	}

	.ella.time-15 .recipe, .ella.time-60 .recipe, .ella.time-60-plus .recipe, .ella.time-1-day .recipe, .jack.time-15 .recipe, .jack.time-60 .recipe, .jack.time-60-plus .recipe, .jack.time-1-day .recipe, .quinn.time-15 .recipe, .quinn.time-60 .recipe, .quinn.time-60-plus .recipe, .quinn.time-1-day .recipe, .max.time-15 .recipe, .max.time-60 .recipe, .max.time-60-plus .recipe, .max.time-1-day .recipe, .arielle.time-15 .recipe, .arielle.time-60 .recipe, .arielle.time-60-plus .recipe, .arielle.time-1-day .recipe
	{
		display: none !important;
	}

	.ella.time-15 .recipe.ella.time-15, .ella.time-60 .recipe.ella.time-60, .ella.time-60-plus .recipe.ella.time-60-plus, .ella.time-1-day .recipeella.time-1-day, .jack.time-15 .recipe.jack.time-15, .jack.time-60 .recipe.jack.time-60, .jack.time-60-plus .recipe.jack.time-60-plus, .jack.time-1-day .recipe.jack.time-1-day, .quinn.time-15 .recipe.quinn.time-15, .quinn.time-60 .recipe.quinn.time-60, .quinn.time-60-plus .recipe.quinn.time-60-plus, .quinn.time-1-day .recipe.quinn.time-1-day, .max.time-15 .recipe.max.time-15, .max.time-60 .recipe.max.time-60, .max.time-60-plus .recipe.max.time-60-plus, .max.time-1-day .recipe.max.time-1-day, .arielle.time-15 .recipe.arielle.time-15, .arielle.time-60 .recipe.arielle.time-60, .arielle.time-60-plus .recipe.arielle.time-60-plus, .arielle.time-1-day .recipe.arielle.time-1-day
	{
		display: block !important;
	}

	nav form
	{
		border-radius: 4px;
		line-height: 24px;
	}

	nav form:focus-within
	{
		background: #ddd;
	}

	nav button
	{
		border: none;
		outline: none;
		background: transparent;
		color: inherit;
		padding: 0 5px 0 10px;
		opacity: 0.5;
		transform: translateY(1px);
		cursor: pointer;
	}

	nav input
	{
		background: transparent;
		color: inherit;
		border: none;
		line-height: 40px;
		width: calc(100% - 50px);
		padding: 0 0 0 8px;
		outline: none;
		font-size: 14px;
		font-family: -apple-system, system-ui, Verdana, sans-serif;
		text-rendering: optimizeSpeed; 
		-webkit-font-smoothing: antialiased;    
		-moz-osx-font-smoothing: grayscale;
		-moz-font-feature-settings:"kern" 1;
		-ms-font-feature-settings:"kern" 1;
		-o-font-feature-settings:"kern" 1;
		-webkit-font-feature-settings:"kern" 1;
		font-feature-settings:"kern" 1;
		font-kerning: normal;
	}

	select
	{
		font-family: -apple-system, system-ui, Verdana, sans-serif;
		text-rendering: optimizeSpeed;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-moz-font-feature-settings: "kern" 1;
		-ms-font-feature-settings: "kern" 1;
		-o-font-feature-settings: "kern" 1;
		-webkit-font-feature-settings: "kern" 1;
		font-feature-settings: "kern" 1;
		font-kerning: normal;
		color: inherit;
		background: transparent;
		border: none;
		outline: none;
		font-size: 14px;
		background: #ddd;
		margin-left: 0.5rem;
		padding: 0 1ch;
		border-radius: 6px;
		line-height: 1.6rem;
		transform: translateY(-2px);
		appearance: none;
		cursor: pointer;
	}

	#pan
	{
		max-width: 100%;
		transform: translateY(40px);
		margin-right: 15px;
	}

	#logo
	{
		margin: 60px auto 80px;
		width: 450px;
		user-select: none;
	}

	#cards
	{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
		grid-template-rows: 250px;
		max-width: 700px;
		margin: auto;
	}

	@keyframes rotate
	{
		from { transform: rotate(0deg); }
		to { transform: rotate(360deg); }
	}

	@media screen and (max-width: 850px)
	{
		nav
		{
			width: 180px;
		}
		
		article
		{
			margin-left: 201px;
		}
	}

	@media screen and (max-width: 710px)
	{
		#logo
		{
			width: auto;
			text-align: center;
		}

		#logo h3
		{
			margin: 0 !important;
		}

		#pan
		{
			transform: none;
			margin: 0 auto 0 auto;
			display: block;
		}
	}
	
	@media screen and (max-width: 650px)
	{
		header
		{
			display: block;
			position: fixed;
			top: 5px;
			left: 5px;
			z-index: 99;
		}
		
		header button
		{
			font-size: 54px;
			color: #222;
			background: transparent;
			border: none;
			padding: 0 4px;
			line-height: 42px;
			outline: none;
			cursor: pointer;
			border-radius: 4px;
		}
		
		header button:hover, header button:focus
		{
			background: #ddd;
		}
		
		nav
		{
			width: 250px;
			background: #eee;
			transform: translateX(-271px);
			transition: transform 0.2s cubic-bezier(.94,.11,1,1);
			
		}
		
		nav.show
		{
			transform: translateX(0px);
			transition: transform 0.25s cubic-bezier(0,.75,.24,1);
		}
		
		article
		{
			margin-left: 0px;
		}
	}
	@media screen and (max-width: 470px)
	{
		#cards {
			grid-template-columns: unset;
			grid-template-rows: repeat(3, 250px);
		}
	}
</style>
<meta name="robots" content="noindex">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#939393">
{% feed_meta %}
