<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>
	<body>
		{% include nav.html %}

		<article aria-label="Content">
			{{ content }}
		</article>

		<script>
			const urlParams = new URLSearchParams(window.location.search);
			
			if(!urlParams.has('p') || urlParams.get('p') == 'all')
			{
				document.getElementById('p-all').className = "selected";
			}
			else
			{
				try
				{
					document.getElementById('p-' + urlParams.get('p')).className = "selected";
				}
				catch (e)
				{
					// pass
				}
			}
			
			try
			{
				document.getElementById('results').className = urlParams.get('p');
			}
			catch (e)
			{
				// pass
			}
			
			if(urlParams.has('s'))
			{
				document.getElementById("seach").value = urlParams.getAll('s').join(" ");
			}
			else
			{
				var links = document.getElementsByTagName('a');
				
				for(var i = 0; i < links.length; i++)
				{
					if(!links[i].href.includes("?p="))
					{
						links[i].href = links[i].href + window.location.search;
					}
				}
			}

			function search()
			{
				var keywords = document.getElementById('search').value.split(" ").filter(function (el) { return el != ""; });

				if(keywords.length > 0)
				{
					window.location.href = "https://guinane.xyz/Git-Cooking/search?s=" + keywords.join("+");
				}
			}
		</script>
	</body>
</html>
