<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>
	<body>
		{% include nav.html %}

		<article aria-label="Content">
			{{ content }}
		</article>

		<script>
			const urlParams = new URLSearchParams(window.location.search);
			
			if(!urlParams.has('p') || urlParams.get('p') == 'all')
			{
				document.getElementById('p-all').className = "selected";
			}
			else
			{
				try
				{
					document.getElementById('p-' + urlParams.get('p')).className = "selected";
				}
				catch (e)
				{
					// pass
				}
			}
			
			if(document.getElementById('results').className == "search-loaded" && urlParams.has('p'))
			{
				document.getElementById('results').className = "search-loaded" + urlParams.get('p');
			}
			else if(urlParams.has('p'))
			{
				document.getElementById('results').className = urlParams.get('p');
			}
			
			if(urlParams.has('search'))
			{
				document.getElementById("search").value = urlParams.getAll('search').join(" ");
			}
			else
			{
				var links = document.getElementsByTagName('a');
				
				for(var i = 0; i < links.length; i++)
				{
					if(!links[i].href.includes("?p="))
					{
						links[i].href = links[i].href + window.location.search;
					}
				}
			}
		</script>
	</body>
</html>
